<div class="container mt-3">
<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark|%>
<%= bookmark.movie.title %> -- <%= bookmark.comment%>
<%= link_to "Delete", list_bookmark_path(@list, bookmark), method: :delete %>
<hr>
<% end %>
</div>
